body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

h1,
h2 {
  text-align: center;
}

.card {
  border: 1px solid #bbb;
  margin: 30px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.card-footer {
  padding: 0 30px;
  text-align: center;
}

.bar,
.circ {
  fill: #000;
}

.circ.dope {
  fill: #f00;
}

.bar:nth-of-type(2n) {
  fill: #044400;
}

.bar:hover,
.circ:hover {
  fill: #0dff00;
}

.tooltip {
  position: absolute;
  text-align: left;
  padding: 6px;
  font: 14px Helvetica, Arial, sans-serif;
  background: green;
  border: 0px;
  pointer-events: none;
  color: #fff;
  transition: 0.2s;
}

.x-axis-label,
.y-axis-label {
  font-weight: bold;
}